<h1>{{job.title}}</h1>
<hr>
<p><span class="smalltext">Bei {{job.company.name}} &#x25BA; {{job.department}}</span><br><br>
<img [src]="job.company.logo" class="company-logo">
  Stellenantritt am {{formattedStartOfWork}} in {{job.placeOfWork}} mit einem {{job.workload}}% Pensum.<br>
  Diese Stelle ist {{job.contractType=='temporary'?'befristet und endet am '+formattedEndOfWork :'unbefristet'}}.<br><br>
Diese Anforderungen solltest du mitbringen:<br>
<mat-list>
  <mat-list-item *ngFor="let skill of job.skills">
    <app-skill-view [skill]="skill"></app-skill-view>
  </mat-list-item>
</mat-list>
<a [innerHTML]="formattedDescription"></a>
<br><br>
Telefon: {{job.phone}}<br>
Email: {{obscuredMail}}<br>
{{job.contactInfo}}</p>
