.company-logo {
  float:right;
  margin-outside: 20px;
  margin-right: -10px;
  height: 50px;
  width: auto;
}

.close-button {
  float: right;
}

.smalltext {
  font-size: 12px;
}

.clickable{
  cursor: pointer;
  text-decoration: underline;
}
