<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary"><div class="mibLogoImg"></div></mat-toolbar>
    <div *ngIf="isLogin()" class="welcome-text">{{getWelcomeText()}}</div>
    <mat-nav-list *ngFor="let menu of menus">
      <!-- Distinguish between mobile and desktop -->
      <a mat-list-item *ngIf="menu.condition() && !(isHandset$ | async)" routerLink="{{menu.link}}" routerLinkActive="active">
        <span matBadgePosition="above after" [matBadge]="menu.badgeVisible ? menu.badgeValue() : null" [matBadgeOverlap]="menu.badgeVisible ? false : null">
        {{menu.text}}
        </span>
        <span>&nbsp;&nbsp;&nbsp;</span>

      </a>
      <a mat-list-item *ngIf="menu.condition() && (isHandset$ | async)" routerLink="{{menu.link}}" routerLinkActive="active" (click)="drawer.close()">
        <span matBadgePosition="above after" [matBadge]="menu.badgeVisible ? menu.badgeValue() : null" [matBadgeOverlap]="menu.badgeVisible ? false : null">
        {{menu.text}}
        </span>
        <span>&nbsp;&nbsp;&nbsp;</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Job Portal</span>
      <img class='mibLogo' src="../assets/mibLogo-large.svg" height="50px" />
      <span class="fill-space"></span>
      <div *ngFor="let state of login">
      <a mat-button *ngIf="state.condition()" routerLink="{{state.link}}" routerLinkActive="active" aria-label="Login / Logout">
        {{state.text}}
      </a>
      </div>
    </mat-toolbar>
    <div class="content">
    <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
