.content{
  padding: 10px;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  background-color: ghostwhite;
}

.mat-toolbar.mat-primary {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0;
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

.fill-space {
  flex: 1 1 auto;
}

.mibLogoImg{
  content: url('../assets/mibLogo-img.svg');
  height: 50px;
  width: auto;
}
.mibLogo{
  content: url('../assets/mibLogo-large.svg');
  height: 50px;
  width: auto;
  padding-left: 10px;
}

@media only screen and (max-width: 810px) {
  .mibLogo {
    content: url('../assets/mibLogo-small.svg');
  }
}
