#content{
  padding: 10px;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 150px;
  background-color: ghostwhite;
}

.mat-toolbar.mat-primary {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0;
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

.fill-space {
  flex: 1 1 auto;
}
.mibLogo{
  content: url('../assets/mibLogo-large.png');
  height: 50px;
  width: auto;
}
@media only screen and (max-width: 670px) {
  .mibLogo {
    content: url('../assets/mibLogo-small.png');
  }
}
