<mat-card>
  <mat-form-field>
    <input matInput placeholder="Title" [(ngModel)]="job.title" name="title" readonly>
  </mat-form-field>
  <br>
  <mat-form-field>
    <textarea autosize matInput placeholder="Description" [(ngModel)]="job.description" name="description" readonly style="resize: none;overflow: hidden;"></textarea>
  </mat-form-field>
  <br>
  <h3>Required Skills:</h3>
  <mat-list>
    <mat-list-item *ngFor="let skill of skills">
      <app-skill-view [skill]="skill"></app-skill-view>
    </mat-list-item>

  </mat-list>
  <hr>
</mat-card>
