<mat-card>
  <h2>{{job.title}}</h2>
  <h5>at {{job.company.name}} in {{job.placeofwork}}</h5>
  <p>{{job.description}}</p>
  <button mat-button (click)="openModal('details-' + job.id)">Details</button>
</mat-card>
<app-modal id="details-{{job.id}}">
  <div class="modal">
    <div class="modal-body">
      <h1 style="margin-top:-5px;">{{job.title}}</h1>
      <hr>
      <p><span style="font-size: 12px; ">At {{job.company.name}} &#x25BA; {{job.departement}}</span><br><br>
      <img [src]="job.company.logo" height="200" style="float:right; margin: 10px;">
      You have to start at <b>{{formattedstartofwork}}</b> in <b>{{job.placeofwork}}</b> with a {{job.workload}}% workload.<br><br>
      The following skills are required for this job:<br>
      <mat-list>
        <mat-list-item *ngFor="let skill of job.skills">
          <app-skill-view [skill]="skill"></app-skill-view>
        </mat-list-item>
      </mat-list>
      {{job.description}}
      <br><br>
      {{job.contactinfo}}</p>
    </div>
    <div class="modal-close">X</div>
  </div>
  <div class="modal-background"></div>
</app-modal>
