<mat-expansion-panel class="header-alignment" hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <span *ngIf="isAdmin()">{{job.company.name}}&nbsp;&mdash;&nbsp;</span>
      {{job.title}}
    </mat-panel-title>
    <mat-panel-description>
    <span *ngIf="!job.approved" class="warning">{{'Job ist noch ungeprüft!'}}</span>
    <span *ngIf="job.approved&&job.changed" class="warning">{{'Ungeprüfte Änderungen!'}}</span>
    <span *ngIf="job.approved&&!job.changed"></span>
    <mat-icon *ngIf="job.approved&&!job.changed">work</mat-icon>
    <mat-icon *ngIf="job.approved&&job.changed" color="warn">work</mat-icon>
    <mat-icon *ngIf="!job.approved" color="warn">work</mat-icon>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <div class="inputForm">
  <mat-form-field class="input-full-width">
    <input matInput required #title="ngModel" name="title"  placeholder="Titel" [(ngModel)]="job.title" (ngModelChange)="title.valid && onSaveSingle('title',job.title)">
    <mat-error *ngIf="title.hasError('required')">
      Titel ist zwingend
    </mat-error>
  </mat-form-field>
  <br>
  <mat-form-field class="input-full-width">
    <input matInput name="departement" placeholder="Abteilung" [(ngModel)]="job.department" (ngModelChange)="onSaveSingle('department',job.department)">
  </mat-form-field>
  <br>
  <mat-form-field class="input-full-width">
    <input matInput name="placeofwork" placeholder="Arbeitsort" [(ngModel)]="job.placeOfWork" (ngModelChange)="onSaveSingle('placeOfWork',job.placeOfWork)">
  </mat-form-field>
  <br>
  <div flex="10" layout layout-align="center center" class="property-label">
    Vertrag
  </div>
  <mat-radio-group [(ngModel)]="job.contractType" (ngModelChange)="onSaveContractType()" class="input-full-width">
    <mat-radio-button value="temporary" color="primary">
      befristet
    </mat-radio-button>
    <br>
    <mat-radio-button value="unlimited" color="primary" >
      unbefristet
    </mat-radio-button>
  </mat-radio-group>
  <br><br>
  <mat-form-field class="datepicker">
   <input matInput placeholder="Stellenantritt" [(ngModel)]="job.startOfWork" [matDatepicker]="startWork" [min]='today' (focus)="startWork.open()" (dateInput)="onSaveStartOfWork()" (dateChange)="onSaveStartOfWork()">
    <mat-datepicker name="startofwork" #startWork touchUi startView="month" ngDefaultControl></mat-datepicker>
    <mat-datepicker-toggle matSuffix [for]="startWork"></mat-datepicker-toggle>
  </mat-form-field>
  <br>
  <mat-form-field class="datepicker" *ngIf="job.contractType === 'temporary'">
    <input matInput [min]="job.startOfWork" [matDatepicker]="endWork" [(ngModel)]="job.endOfWork" placeholder="Letzter Arbeitstag" (focus)="endWork.open()" (dateInput)="onSaveEndOfWork()" (dateChange)="onSaveEndOfWork()">
    <mat-datepicker #endWork touchUi startView="month" name="endofwork" ngDefaultControl></mat-datepicker>
    <mat-datepicker-toggle matSuffix [for]="endWork"></mat-datepicker-toggle>
  </mat-form-field>
  <br>
  <div flex="10" layout layout-align="center center" class="property-label">
    Pensum
  </div>
  <mat-slider name="workload" color="primary" min="0" max="100" step="5" value="100" tickInterval="2" thumbLabel [displayWith]="percentageLabel" [(ngModel)]="job.workload" (ngModelChange)="onSaveSingle('workload',job.workload)"></mat-slider>
  <br>
  <mat-slide-toggle
    class="example-margin"
    color="primary"
    [checked]="displaySalary()"
    [disabled]="false"
    (toggleChange)="changeToggleSalary()">
    Gehalt anzeigen?
  </mat-slide-toggle>
  <div *ngIf="displaySalary()">
    <br>
    <mat-form-field >
      <input matInput type="number" name="salaryAmount" class="salaryAmount" placeholder="Gehalt" [(ngModel)]="job.salary.amount" (ngModelChange)="onSaveSingle('salary',job.salary.toString())">
      <span matSuffix>&nbsp;CHF&nbsp;</span>
    </mat-form-field>
    <mat-form-field>
      <mat-select [(value)]="job.salary.period" (selectionChange)="onSaveSingle('salary',job.salary.toString())">
        <mat-option value="month">{{job.salary.getPeriodString('month')}}</mat-option>
        <mat-option value="hour">{{job.salary.getPeriodString('hour')}}</mat-option>
        <mat-option value="job">{{job.salary.getPeriodString('job')}}</mat-option>
        <mat-option value="other">{{job.salary.getPeriodString('other')}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <br>
  <mat-form-field class="input-full-width">
    <textarea #shortDescription name="shortDescription" autosize matInput placeholder="Kurzbeschreibung" [(ngModel)]="job.shortDescription" (ngModelChange)="onSaveSingle('shortDescription',job.shortDescription)" class="textarea" maxlength="250"></textarea>
    <mat-hint align="end">{{shortDescription.value.length}} / 250</mat-hint>
  </mat-form-field>
  <br><br>
  <div flex="10" layout layout-align="center center" class="property-label">
    Detaillierte Beschreibung
  </div>
  <angular-markdown-editor
    [textareaId]="job.id" rows="12" (onChange)="onSaveSingle('description',job.description)"
    name="markdownText" [(ngModel)]="job.description" [locale]="locale" [options]="editorOptions">
  </angular-markdown-editor>
  <br>
  <mat-list>
    <mat-list-item *ngFor="let skill of job.skills">
      <app-skill-edit [skill]="skill" (destroy)="onSkillDestroy($event)"></app-skill-edit>
    </mat-list-item>
  </mat-list>
  <br>
  <mat-form-field>
    <input name="skilltext" matInput placeholder="Anforderung" [(ngModel)]="skill.name">
  </mat-form-field>
  <button mat-icon-button (click)="onSkillCreate()"><mat-icon aria-label="Zusätzliche Anforderung">add</mat-icon></button>
  <br>
  <mat-form-field class="input-full-width">
    <input matInput required name="phone" #phone="ngModel" type="tel" placeholder="Telefon" [(ngModel)]="job.phone" (ngModelChange)="phone.valid && onSaveSingle('phone',job.phone)"
           pattern="[0-9+ ]+">
    <mat-error *ngIf="phone.hasError('required')">
      Telefon ist zwingend
    </mat-error>
    <mat-error *ngIf="phone.hasError('pattern')">
      Telefonnummer ungültig
    </mat-error>
  </mat-form-field>
  <br>
  <mat-form-field class="input-full-width">
    <input matInput required name="email" #email="ngModel" type="email" placeholder="Email" [(ngModel)]="job.email" (ngModelChange)="email.valid && onSaveSingle('email',job.email)"
           pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,10}$">
    <mat-error *ngIf="email.hasError('required')">
      Email ist zwingend
    </mat-error>
    <mat-error *ngIf="email.hasError('pattern')">
      Ungültige Email
    </mat-error>
  </mat-form-field>
  <br>
    <mat-form-field class="input-full-width">
      <input matInput required name="website" type="url" #website="ngModel" placeholder="Website" [(ngModel)]="job.website" (ngModelChange)="website.valid && onSaveSingle('website',job.website)"
             pattern="^(?:http(s)?:\/\/)?[\w.-]+(?:\.[\w\.-]+)+[\w\-\._~:/?#[\]@!\$&'\(\)\*\+,;=.]+$">
      <mat-error *ngIf="website.hasError('required')">
        Website ist zwingend
      </mat-error>
      <mat-error *ngIf="website.hasError('pattern')">
        Ungültiger Link
      </mat-error>
    </mat-form-field>
    <br>
  <mat-form-field class="input-full-width">
    <textarea autosize matInput placeholder="Weitere Kontaktinformationen" [(ngModel)]="job.contactInfo" name="contactinfo" (ngModelChange)="onSaveSingle('contactInfo',job.contactInfo)" class="textarea"></textarea>
  </mat-form-field>
  <br>
  <mat-form-field class="datepicker">
    <input matInput required #startpublication="ngModel" [matDatepicker]="startPublication" [max]="job.endOfPublication" [(ngModel)]="job.startOfPublication" placeholder="Publikation von" (focus)="startPublication.open()" (dateInput)="onSaveDateOfPublication('startOfPublication',job.startOfPublication)" (dateChange)="startpublication.valid && onSaveDateOfPublication('startOfPublication',job.startOfPublication)">
    <mat-datepicker type="datetime" [clockStep]="5" [twelveHour]="false" #startPublication touchUi startView="month" name="startofwork" ngDefaultControl></mat-datepicker>
    <mat-datepicker-toggle matSuffix [for]="startPublication"></mat-datepicker-toggle>
    <mat-error *ngIf="startpublication.hasError('required')">
      Publikationsstart ist zwingend
    </mat-error>
  </mat-form-field>
  <br>
  <mat-form-field class="datepicker">
    <input matInput required #endpublication="ngModel" [matDatepicker]="endPublication" [min]="job.startOfPublication" [(ngModel)]="job.endOfPublication" placeholder="Publikation bis" (focus)="endPublication.open()" (dateInput)="onSaveDateOfPublication('endOfPublication',job.endOfPublication)" (dateChange)="endpublication.valid && onSaveDateOfPublication('endOfPublication',job.endOfPublication)">
    <mat-datepicker type="datetime" [clockStep]="5" [twelveHour]="false" #endPublication touchUi startView="month" name="endofpublication" ngDefaultControl></mat-datepicker>
    <mat-datepicker-toggle matSuffix [for]="endPublication"></mat-datepicker-toggle>
    <mat-error *ngIf="endpublication.hasError('required')">
      Publikationsende ist zwingend
    </mat-error>
  </mat-form-field>
  </div>
  <mat-action-row>
    <button mat-button (click)="showPreview()">Vorschau</button>
    <button mat-button *ngIf="job.changed" (click)="resetJob()" matTooltip="Änderungen auf den letzten akzeptierten Stand zurücksetzen"><mat-icon>undo</mat-icon></button>
    <button mat-button *ngIf="isValid()&&isAdmin()&&!job.approved" (click)="approve()" color="primary">Job akzeptieren</button>
    <button mat-button *ngIf="isValid()&&isAdmin()&&job.approved&&job.changed" (click)="approve()"><mat-icon>check</mat-icon></button>
    <button mat-button *ngIf="!isValid()&&isAdmin()&&!job.approved" (click)="block()">Job akzeptieren</button>
    <button mat-button *ngIf="!isValid()&&isAdmin()&&job.approved&&job.changed" (click)="block()" color="primary"><mat-icon>check</mat-icon></button>
    &nbsp;<button mat-raised-button (click)="onDestroy()" color="warn">Job löschen</button>
  </mat-action-row>
</mat-expansion-panel>
