<h2>Login</h2>
<mat-card>
  <mat-form-field>
    <input matInput placeholder="Benutzername" [(ngModel)]="user.username" name="username">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" placeholder="Passwort" (keydown.enter)="onLogin()" [(ngModel)]="user.password" name="password">
  </mat-form-field>
  <button mat-icon-button matTooltip="Falls du dein Passwort vergessen hast, bitte den Administrator es für dich zurückzusetzen." tabindex="-1">
    <mat-icon aria-label="Password info">info</mat-icon>
  </button>
  <br>
  <button mat-raised-button color="primary" (click)="onLogin()">Login</button><br><br><hr>
  <button mat-stroked-button (click)="toRegistration()" tabindex="-1" color="primary">Registrierung für Unternehmen</button>
</mat-card>
