.warning {
  color: var(--warn);
}

.accordion-container {
  padding: 10px 10px 30px;
}

.header-alignment .mat-expansion-panel-header-title,
.header-alignment .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.header-alignment .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.sortUserSelection{
  margin-top: 5px;
  font-size: 14px;
  font-weight: normal;
}

.header-container {
  display: flex;
  flex-wrap: wrap;
}

.header-item {
  flex-basis: auto;
}

.paginator{
  background: #fafafa;
}
