<h2>Jobverwaltung</h2>
<div class="header-container">
  <div class="header-item">
    <mat-form-field *ngIf="allowCreateJob()">
      <input matInput placeholder="Jobtitel" [(ngModel)]="job.title" name="title">
    </mat-form-field>
    <button *ngIf="allowCreateJob()" mat-raised-button (click)="onJobCreate()" color="primary" style="margin-left: 5px; margin-right: 5px">Job erstellen</button>
  </div>
  <div class="header-item">
    <mat-form-field class="sortUserSelection">
      <mat-label>Sortieren nach:</mat-label>
      <mat-select [(value)]="sorting">
        <mat-option *ngIf="isModOrAdmin()" value="todo">ToDo</mat-option>
        <mat-option value="titleASC">Alphabet aufsteigend</mat-option>
        <mat-option value="titleDESC">Alphabet absteigend</mat-option>
        <mat-option value="workloadASC">Pensum aufsteigend</mat-option>
        <mat-option value="workloadDESC">Pensum absteigend</mat-option>
        <mat-option value="startworkASC">Arbeitsbeginn aufsteigend</mat-option>
        <mat-option value="startworkDESC">Arbeitsbeginn absteigend</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<div class="accordion-container" *ngIf="jobs.length > 0">
  <mat-accordion class="header-alignment">
    <app-job-edit [job]="job" (destroy)="onJobDestroy($event)" *ngFor="let job of (jobs | jobsEditSortPipe:sorting) | jobsPaginatorPipe:pageEvent">
    </app-job-edit>
  </mat-accordion>
</div>
<h3 class="warning" *ngIf="msg">{{msg}}</h3>
<mat-paginator [length]="jobs.length"
               [pageSize]="pageSize"
               [pageSizeOptions]="[8, 16, 32, 64]"
               (page)="pageEvent = $event; setPageSizeCookie($event.pageSize);"
               class="paginator">
</mat-paginator>
