<mat-form-field *ngIf="allowCreateJob()">
  <input matInput placeholder="Job erstellen" [(ngModel)]="job.title" name="title">
</mat-form-field>
<button *ngIf="allowCreateJob()" mat-button (click)="onJobCreate()">Job erstellen</button>
<div class="accordion-container">
  <mat-accordion class="header-alignment">
    <app-job-edit [job]="job" (destroy)="onJobDestroy($event)" *ngFor="let job of jobs | jobsPageinatorPipe:pageEvent">
    </app-job-edit>
  </mat-accordion>
</div>
<h2 class="warning" *ngIf="msg">{{msg}}</h2>
<mat-paginator [length]="jobs.length"
               [pageSize]="pageSize"
               [pageSizeOptions]="[8, 16, 32, 64]"
               (page)="pageEvent = $event; setPageSizeCookie($event.pageSize);"
               class="paginator">
</mat-paginator>
