<h2>Registration</h2>
<mat-card>
  <div ng-if="errorMessage" class="error-text">{{ errorMessage }}</div>
  <mat-form-field>
    <input matInput placeholder="Unternehmen" #companyName="ngModel" [(ngModel)]="company.name" name="company" required>
    <mat-error *ngIf="companyName.hasError('required')">
      Name des Unternehmens ist zwingend
    </mat-error>
  </mat-form-field>
  <br>
  <div class="logoSelection">
  <a class="labelText">Unternehmenslogo*</a>
  <input id="logoUpload" type='file' #upload style="display:none;" (change)="onSelectLogo($event)">
  <button mat-button (click)="upload.click()" matTooltip="Unternehmenslogo hochladen"><mat-icon>add_a_photo</mat-icon></button>
  <button mat-button (click)="onGenerateLogo()" matTooltip="Einfaches Logo erstellen"><mat-icon>create</mat-icon></button>
  <button mat-button (click)="onFetchLogo()"  matTooltip="Unternehmenslogo suchen"><mat-icon>search</mat-icon></button>
  </div>
  <img *ngIf="company.logo!=''" [src]="company.logo" class="company-logo"><br>
  <mat-form-field>
    <input matInput required #username="ngModel" placeholder="Benutzername" [(ngModel)]="user.username" name="username">
    <mat-error *ngIf="username.hasError('required')">
      Benutzername ist zwingend
    </mat-error>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput required name="email" #email="ngModel" type="email" placeholder="Email" [(ngModel)]="user.email"
           pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,10}$">
    <mat-error *ngIf="email.hasError('required')">
      Email ist zwingend
    </mat-error>
    <mat-error *ngIf="email.hasError('pattern')">
      Ungültige Email
    </mat-error>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput required #password="ngModel" type="password" placeholder="Password" [(ngModel)]="user.password" name="password">
    <mat-error *ngIf="password.hasError('required')">
      Passwort ist zwingend
    </mat-error>
  </mat-form-field>
  <br>
  <button mat-button (click)="onCreate()" color="primary">Registrieren</button>
  <mat-progress-bar *ngIf="showProgressBar" class="centerProgressBar" mode="query"></mat-progress-bar>
</mat-card>
