.text-center {
  text-align: center;
}

.tr-text {
  padding-left: 10px;
  padding-right: 10px;
}

.suspendedRow{
  text-decoration: line-through;
}

.account-symbol {
  vertical-align: middle;
  display: inline-flex;
}

.lightgreen {
  color: lightgreen;
}

.mat-action-row > * {
  margin-left: 5px;
}

table {
  width: 100%;
}

tr.detail-row {
  height: 0;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  height: auto;
  overflow: hidden;
  padding: 10px;
}

.employerDetails{
  width: 100%;
  min-width: 80%;
  min-height: 160px;
}

.infoText{
  color: var(--warn);
  font-weight: bold;
}

.clickable{
  cursor: pointer;
  text-decoration: underline;
}

.titleSelectionBar{
  width: 100%;
  padding-bottom: 0;
}

.sortUserSelection{
  font-size: 14px;
  font-weight: normal;
  width: 200px;
  right: 25px;
  margin-top: -50px;
  position: absolute;
}

@media only screen and (max-width: 450px) {
  .sortUserSelection {
    margin-top: 0;
  }
  .titleSelectionBar{
    padding-bottom: 50px;
  }
}

