.text-center {
  text-align: center;
}

.tr-text {
  padding-left: 10px;
  padding-right: 10px;
}

.suspendedRow{
  text-decoration: line-through;
}

.success {
  color: lightgreen;
}

.warning {
  color: var(--warn);
  font-size: 15px;
  height: 15px;
  width: 15px;
  line-height: 15px;
}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  height: auto;
  overflow: hidden;
  padding: 10px;
}

.employerDetails{
  width: 100%;
  min-width: 80%;
  min-height: 160px;
}

