<h2>User administration</h2>
<mat-card>
  <h3>User overview</h3>
  <table mat-table [dataSource]="users" class="mat-elevation-z8">
    <!-- Username Column -->
    <ng-container matColumnDef="username" class="text-center">
      <th mat-header-cell *matHeaderCellDef>Username</th>
      <td mat-cell *matCellDef="let u"> {{u.username}} </td>
    </ng-container>

    <!-- Type Column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef class="text-center tr-text">Type</th>
      <td mat-cell *matCellDef="let u" class="tr-text"> {{getUserTypeString(u.type)}} </td>
    </ng-container>

    <!-- Accept User Column -->
    <ng-container matColumnDef="accept">
      <th mat-header-cell *matHeaderCellDef class="text-center">Accept User</th>
      <td mat-cell *matCellDef="let u"> <span *ngIf="!u.enabled"><button mat-button (click)="onAcceptUser(u)" color="primary">Accept User</button></span> </td>
    </ng-container>

    <!-- Reset Password Column -->
    <ng-container matColumnDef="password">
      <th mat-header-cell *matHeaderCellDef class="tr-text">Reset Password</th>
      <td mat-cell *matCellDef="let u" class="tr-text"> <input matInput placeholder="New Password" type="password" [(ngModel)]="u.password" (keyup.enter)="onResetPassword(u)"/> </td>
    </ng-container>

    <!-- Delete User Column -->
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef class="text-center">Delete User</th>
      <td mat-cell *matCellDef="let u"> <button mat-button (click)="onDeleteUser(u)" color="warn">Delete User</button> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</mat-card>
<mat-card *ngIf="isAdmin()">
  <h3>Create new Administrator / Moderator</h3>
  <mat-form-field>
    <input matInput placeholder="username" [(ngModel)]="user.username" name="username">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="password" type="password" [(ngModel)]="user.password" name="password">
  </mat-form-field>
  <button mat-button (click)="onCreateAdmin()" color="primary">Create Admin</button>
  <button mat-button (click)="onCreateMod()" color="primary">Create Moderator</button>
</mat-card>
