<h2 [ngClass]="{'error-text':this.msg === 'Passwörter stimmen nicht überein!',
                'error-text':this.msg === 'Das neue Passwort konnte nicht gespeichert werden!',
                'success':this.msg    === 'Neues Passwort gespeichert!'}">{{msg}}</h2>
<mat-card>
  <mat-form-field>
    <input matInput type="password" placeholder="Neues Password" [(ngModel)]="this.password" name="password">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" placeholder="Neues Passwort bestätigen" [(ngModel)]="this.password2" name="password2">
  </mat-form-field>
  <br>
  <button mat-button (click)="onSave()">Speichern</button>
</mat-card>
