<h2 [ngClass]="{'error-text':this.msg === 'Passwords not equal',
                'error-text':this.msg === 'Failed to save the new Password!',
                'success':this.msg    === 'new Password saved'}">{{msg}}</h2>
<mat-card>
  <mat-form-field>
    <input matInput type="password" placeholder="new Password" [(ngModel)]="this.password" name="password">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" placeholder="new Password repeated" [(ngModel)]="this.password2" name="password2">
  </mat-form-field>
  <br>
  <button mat-button (click)="onSave()">Save</button>
</mat-card>
