<div ng-if="errorMessage" style="color:#ff0000;">{{ errorMessage }}</div>
<mat-card>
  <mat-form-field>
    <input matInput placeholder="Company name" [(ngModel)]="company.name" name="company">
  </mat-form-field>
    <img *ngIf="company.logo!=''" [src]="company.logo" height="200" style="position: absolute; left:400px;"> <br/>
    <input type='file' (change)="onSelectLogo($event)">
    <button mat-button (click)="onGenerateLogo()">Generate Logo</button>
  <br>
  <mat-form-field>
    <input matInput placeholder="Username" [(ngModel)]="user.username" name="username">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput type="password" placeholder="Password" [(ngModel)]="user.password" name="password">
  </mat-form-field>
  <br>
  <button mat-button (click)="onCreate()">Create Account</button>
</mat-card>
