<mat-form-field>
  <input matInput placeholder="Suche" [(ngModel)]="searchParam" name="search" (ngModelChange)="onEasySearch()" />
</mat-form-field>
<button mat-button (click)="openAdvancedSearch()">Erweiterte Suche</button>
<button *ngIf="searched" mat-button (click)="resetSearch()">Suche zurücksetzen</button>

<div class="card-deck-container">
  <div *ngIf="msg"><h2 class="warning">{{msg}}</h2> </div>
  <div *ngFor="let job of jobs | jobsPageinatorPipe:pageEvent" class="card-item"><app-job-view [job]="job"></app-job-view></div>
</div>
<mat-paginator [length]="jobs.length"
               [pageSize]="10"
               [pageSizeOptions]="[5, 10, 25, 100]"
               (page)="pageEvent = $event"
                class="paginator">
</mat-paginator>
