<mat-form-field>
  <input matInput placeholder="Suche" [(ngModel)]="searchParam" name="search" (ngModelChange)="onEasySearch()" />
</mat-form-field>
<button mat-button (click)="openAdvancedSearch()">Erweiterte Suche</button>
<button *ngIf="searched" mat-button (click)="resetSearch()">Suche zurücksetzen</button>
<mat-form-field>
  <mat-label>Sortieren nach:</mat-label>
  <mat-select [(value)]="sorting">
    <mat-option value="titleASC">Alphabet aufsteigend</mat-option>
    <mat-option value="titleDESC">Alphabet absteigend</mat-option>
    <mat-option value="workloadASC">Pensum aufsteigend</mat-option>
    <mat-option value="workloadDESC">Pensum absteigend</mat-option>
    <mat-option value="startworkASC">Arbeitsbeginn aufsteigend</mat-option>
    <mat-option value="startworkDESC">Arbeitsbeginn absteigend</mat-option>
  </mat-select>
</mat-form-field>
<div class="card-deck-container">
  <div *ngIf="msg"><h2 class="warning">{{msg}}</h2> </div>
  <div *ngFor="let job of ((jobs | jobsSortPipe:sorting) | jobsPageinatorPipe:pageEvent)" class="card-item"><app-job-view [job]="job"></app-job-view></div>
</div>
<mat-paginator [length]="jobs.length"
               [pageSize]="pageSize"
               [pageSizeOptions]="[8, 16, 32, 64]"
               (page)="pageEvent = $event; setPageSizeCookie($event.pageSize);"
               class="paginator">
</mat-paginator>
